<p>
	Dear <%=@candidate.name%>,	
</p>
<p>
	Your interview is scheduled  on <%=@invitation.interview_date.strftime("%m/%d/%Y %H:%M %p")%> for ROR developer role.
</p>
<br>
<p>
	Going? <a href="/invitation/accept/<%=@invitation.id%>">Yes</a> <a href="/invitation/reject/<%=@invitation.id%>">No</a>
</p>
<p>
	Regards,
</p>
<p>
	<%=@job.organization.name%>
</p>